{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Hello</h1>
        <p>I am Amin Borghei. First of all, Thank you very much for visiting my web blog. I hope you enjoy the blog.</p>
        <p>I developed this web blog in October 2022, while I was learning coding with python. So far, I learnt many interesting topic in python coding, and I am excited to learn more!</p>
        <h2>About The blog</h2>
        <p>Administrative users can add, edit, and delete posts to the blog. All users can read the blogs. Users who register in the blog can comment on the posts.</p>
        <h2>My contact Information:</h2>
        <p>Email: seyed.amin.borghei@gmail.com</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}